html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.nav-list{
    list-style-type: none;
    display: flex;
}
.nav-item{
    margin-right: 56px;
}
.nav-item:last-child{
    margin-right: 0;
}
.nav-link{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: rgb(149, 225, 211);
    text-decoration: none;
    line-height: 30px;
}

.nav-item::after {
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    width: 50px;
    height: 3px;
    opacity: 0;
}
.nav-link:hover{
    color:  rgb(243, 129, 129);
}
.nav-item:hover .nav-link::after{
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    width: 50px;
    height: 3px;
    opacity: 1;
}
.logo{
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: rgb(149, 225, 211);
}

.services-title{
    text-align: center;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}
.title2{
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.title2::after{
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    width: 50px;
    height: 3px;
    margin: 0 auto;
    margin-top: 30px;
}
.section-cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.service-list{
    margin-right: 20px;
    max-width: 392px;
    height: 120px;
}