
img {
  max-width: 100%;
}

 
.container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

section {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 70px;
  font-size: 0; 
}

ul {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 104px; 
}

li {
  display: inline-block;
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  margin-right: 107px;  
}

li:last-child {
  margin-right: 0px;
}
          
.link-item:hover  {
  color: #03a9f4;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(98, 98, 98); 
}

.article {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 135px;
  text-align: left;
}

.article:nth-child(even) {
  margin-right: 0px;
}

h2 {
  
    font-size: 30px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    text-align: left;
    margin: 0px;
    margin-bottom: 20px;
    
  
}

p {
  text-align: left;
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
    margin: 0px;
    
}


.phototitle {
  margin: 0px;
  margin-bottom: 20px;
  color: #b4ad9e;
  font-family: "Ubuntu";
}



button {
  border: 1px solid black;
  text-align: center;
  width: 162px;
  height: 58px;
  font-size: 20px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  background-color: white;
}
.wtf {
  font-size: 20px;
}

.button :hover {
  color: white;
  background-color: rgb(98, 98, 98);
  border-color: rgb(98, 98, 98);
}


div {
  padding-top: 56px;
}