html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .container {
      width: 1110px;
      margin: 0 auto;  
  }
  .page-header{
      padding: 45px 0;
  }
  .logo {
      display: block;
      text-decoration: none;
      float: left;
      font-size: 30px;
      font-weight: normal;
      color: rgb(81, 81, 81);
      font-family: open sans;
      text-transform: uppercase;
  }
  .logo::first-letter {
    color: rgb(26, 188, 156);
    font-weight: bold;
    font-family: open sans;   
}
    .logo:hover{
        color: rgb(26, 188, 156);   
    }
  .nav-link{
      display: block;
      list-style-type: none;
      font-size: 14px;
      font-family: open sans;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 0.786;
      padding-top: 12px;   
  }
  .nav-link:hover{
        color: rgb(26, 188, 156); 
  }
  .nav-item:last-child{
      margin-right: 0;
  }
  .list-item {
      float: right;
      
  }
  .nav-link{
      text-decoration: none;
      color: black;
      display: block;
  }
  .nav-item{
    list-style-type: none;
    float: left;
    margin-right: 34px;
  }
.banner{
    background-image: linear-gradient( rgba(0, 0, 2, 0.4), rgba(0, 0, 2, 0.4)), url(img/slide4.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    
}
.banner-container{
    position: relative;
    min-height: 600px;
}
.banner-title{
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%); 
}

.main-title{
    font-size: 60px;
    font-family: "Roboto";
    color: white;
    text-transform: uppercase;
  
}
.subtitle{
    font-size: 30px;
    font-family: "Roboto";
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
}


.button {
    padding: 52px;
    border: none;
    background-color: rgb(140, 217, 196);
    opacity: 0.5;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
}
.button:hover{
    background-color: rgb(26, 188, 156);
    opacity: 1;
}

.left{
    left: 0;
    background-image:  url(img/al.png);
   
}
.right {
    right: 0;
    background-image: url(img/ar.png);
}


  

.collection {
    padding-top: 100px;
    padding-bottom: 100px;
}
.collection{
    background-color: rgb(233, 240, 253);
}
.title{
    font-size: 48px;
    font-family: "Roboto";
    text-transform: uppercase;
    color: rgb(81, 81, 81);
    text-align: center;
}
.title::after {
    content: "";
    display: block;
    margin: 30px auto;
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    border: none;
    margin-bottom: 80px;
}
  .stuff{
      width: 255px;
      list-style-type: none;
      float: left;
      margin-right: 30px;
      position: relative;
  }
  .stuff:last-child{
      margin-right: 0;
  }
  .stuff-link{
      border: none;
  }
  .description{
      width: 255px;
      height: 40px;
      position: absolute;
      bottom: 0;
      background: linear-gradient(to right, rgb(50, 50, 50) 80%,#8c8c8c 20%);
  }
  .description:hover{
    background: linear-gradient(to right, #1abc9c 80%, #7fd9c7 20%);
  }
  .stuff:hover .description{
    background: linear-gradient(to right, #1abc9c 80%, #7fd9c7 20%);   
  }
  .title-link {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 1.778;
      font-family: "Roboto";
      float: left;
      margin-left: 10px;
      width: 80%;
  }
  .price {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.778;
    font-family: "Roboto";
    float: right;
    font-weight: 700;
    margin-right: 10px;
    padding-top: 4px;
  }
 .photo{
    display: block;
    max-width: 100%;
    height: auto;
 }
.cover{
    position: absolute;
    width: 236px;
    height: 264px;
    background: black;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
   
}
.cover-list{
    list-style-type: none;
    
}
.cover-button{
    width: 48px;
    height: 48px;
    border: 2px solid white;
  
}
.cover-button.big{
    width: 163px;
    height: 48px;
    border: 2px solid white;
    
}








 .footer {
     text-align: center;
     background-color: rgb(50, 50, 50);
     padding: 45px 0;
 }
 .info-stuff{
     color: white;
     font-size: 16px;
     font-family: "open sans";
 }
 .shit4 {
     color: rgb(26, 188, 156);
     font-size: 16px;
     font-family: "open sans";
     text-decoration: none;
 }

  