html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
*{ 
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
}
.header-nav {
    line-height: 32px;
}
.list-item {
    float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.navigation {
    text-decoration: none;

}

.navigation.logo { 
    font-size: 30px;
    font-weight: normal;
    color: rgb(81, 81, 81);
    font-family: open sans;
    float: left;
    text-transform: uppercase;
}
.navigation.logo::first-letter {
    color: rgb(26, 188, 156);
    font-weight: bold;
    font-family: open sans;   
}
.product-item {
    list-style-type: none;
    display: inline-block;
    font-size: 0;
}
.products {
    float: left;
    width: 255px;
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;
}
.products:hover .description{
    background: linear-gradient(to right, #1abc9c 80%, #7fd9c7 20%);
}
.products:nth-child(4n) {
    margin-right: 0;
}
.products:nth-child(n+5)  {
    margin-bottom: 0;
}

.stuff {
    float: left;
    width: 350px;
    margin-right: 30px;
}
.bottom {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 14px;
}
.text {
    font-size: 14px;
}
.stuff-item {
    text-align: center;
    list-style-type: none;
    font-size: 0;
}
.stuff:last-child {
    margin-right: 0;
}

.page-header {
    padding-top: 42px;
    padding-bottom: 110px;
}
.nav-item {
    float: left;
    margin-right: 34px;
    font-size: 14px;
    font-family: open sans;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.786;
    list-style-type: none;
    padding-top: 12px;
}
.products-link {
    display: block;
}
.navigation {
    color: black;
}
.navigation:hover{
    color: rgb(26, 188, 156);  
}
.nav-item:last-child {
    margin-right: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section{
    padding-top: 80px;
    padding-bottom: 104px;
} 
.section.news{
    padding-top: 0;
}
.section-title {
    padding-bottom: 30px;
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 0.667;
}
.section-title::after {
    content: "";
    display: block;
    margin: 30px auto;
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    border: none;
}

.bottom {
    font-size: 18px;
    font-family: open sans;
    font-weight: bold; 
    text-align: left;
    color: rgb(81, 81, 81);
    margin-bottom: 20px;
}

.bottom::after {
 content: "";
 display: block;
 margin-top: 14px;
 background-color: rgb(26, 188, 156);
 width: 136px;
 height: 3px;   
}
  

.text {
    font-size: 14px;
    font-family: open sans;
    color: rgb(85, 82, 82);
    line-height: 1.857;
    text-align: justify;
    margin-bottom: 20px;
  }

.news-link:hover { 
      background-color: white;
      color: rgb(78, 198, 171);
  }
.news-link {
    background-color: rgb(78, 198, 171);
    text-decoration: none;
    font-size: 14px;
    padding: 17px 0px;
    font-family: open sans;
    color: white;
    display: block; 
    border-radius: 3px;
    border: 1px solid rgb(78, 198, 171);
    width: 160px;
}
.description {
    background-color: rgb(50, 50, 50);
    width: 255px;
    height: 40px;
    background: linear-gradient(to right, rgb(50, 50, 50) 80%,#8c8c8c 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    font-size: 0;
}
.description:hover{
    background: linear-gradient(to right, #1abc9c 80%, #7fd9c7 20%);
}
.bottom-link {
    display: block;
    text-decoration: none;
    width: 200px;
    text-align: left;
}
.goods-item {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.778;
    font-family: "Roboto";
    padding-left: 12px;
}
  .price {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.778;
    font-family: "Roboto";
    padding-right: 12px;
  }



  