html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');
@import url("https://use.typekit.net/bqo4pim.css");
.main {
    width: 1400px;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    
}
.nav-list{
    list-style-type: none;
    min-width: 480px;
    display: flex;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    cursor: pointer;
}
.nav-link:hover{
    color: #fed136;
}
.logo{
    display: block;
    text-decoration: none;
    font-size: 26px;
    font-family: "Wisdom Script AI";
    color: #fed136;
    cursor: pointer;
}

.list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.list-item{
    flex-basis: 286px;
    
    padding-top: 66px;
    margin-bottom: 120px;
}
.section-title{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
}
.title-span {
   text-align: center;
    font-size: 16px;
    font-family: droid-serif, serif;
    font-style: italic;
}
.item-title{
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.list-item::before{
    content: "";
    display: block;
    width: 73px;
    height: 73px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 20px;
}
.list-item.basket::before{
   background-image: url(img/Basket.png);
    
}
.list-item.laptop::before{
    background-image: url(img/Laptop.png);
    
} 
.list-item.lock::before{
    background-image: url(img/Locked.png);
   
}

.text{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}
.feedback{
    height: 676px;
    background-image: url(img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container.feedback{
    position: relative;
    padding-top: 100px;
}
.button{
    margin: 0 auto;
    width: 240px;
    height: 58px;
    border: none;
    border-radius: 3px;
    background-color: #fed136;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
}
.button:hover{
    background-color: #fff;
    color: #fed136;
}
.white{
    color: white;
   
}
.grey{
    margin-top: 15px;
    margin-bottom: 50px;
    color: #3e3e3e;
}
.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.form-item{
    margin-bottom: 26px;
    list-style: none;
}
.form-item:last-child{
    margin-bottom: 0;
}
.textarea{
    width: 455px;
    height: 208px;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #3e3e3e;
}
.textarea::placeholder{
    color: #bbbbbb;
}
.regular{
    margin-right: 30px;
}

.form-item input{
    width: 455px;
    height: 52px;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #3e3e3e;
}
.form-item input::placeholder{
    color: #bbbbbb;
}

