@media (max-width: 767px){
    .logo{
        text-align: center;
        font-family: 'montserrat';
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 20px;
    }
    .header{
        position: absolute;
    }
    .one{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .banner{
        height: 540px;
        background-position: center;
    }
    .find{
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        background-color: rgb(255, 78, 80);
        border: none;
        width: 280px;
        height: 40px;
        font-size: 14px;
        font-family: 'montserrat';
        color: white;
        font-weight: 700;
    }
    .find:hover{
        color: rgb(255, 78, 80);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 78, 80);
        border-width: 2px;
    }
    .log-list{
        margin-bottom: 120px;
    }
    .log-link{
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-family: 'montserrat';
        font-weight: 700;
        padding: 10px 10px;
    }
    
    .log-link:hover{
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        width: 94px;
        height: 40px;
    }
    .section-title{
        text-align: center;
        font-family: 'montserrat';
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .subtitle{
        width: 217px;
        margin: 0 auto;
        text-align: center;
        font-family: 'roboto';
        color: white;
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 20px;
    }
    .partners-title{
        font-size: 22px;
        font-family: 'montserrat';
        text-align: center;
        font-weight: 700; 
        padding: 50px 0;
    }
    .partners-photo{
        width: 122px;
        height: 122px;
        margin: 0 auto;
    }
    .partners-item{
        position: relative;
        width: 217px;
        height: 222px;
    }
    .partners-item::after{
        content: "";
        display: block;
        width: 41px;
        height: 41px;
        position: absolute;
        bottom: 90px;
        right: 45px;
    }
    .partners-item.pin1::after{
        background-image: url(img/IMG_7344.PNG);
    }
    .partners-item.pin2::after{
        background-image: url(img/IMG_7345.PNG);
    }
    .partners-item.pin3::after{
        background-image: url(img/IMG_7346.PNG);
    }
    .partners-item.pin4::after{
        background-image: url(img/IMG_7347.PNG);
    }
    .pin2{
        margin-bottom: 30px;
    }
 
    .partners-list{
        list-style: none;
        max-width: 217px;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }
    .name{
        font-size: 14px;
        font-family: 'montserrat';
        text-align: center;
        font-weight: 700;
        margin: 10px 0;
    }
    .about{
        font-family: 'roboto';
        font-size: 14px;
        color: #666666;
        font-weight: 100;
        margin-bottom: 20px;
    }
    .others{
            display: block;
            margin: 0 auto;
            border: 2px solid rgb(255, 78, 80);
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            width: 284px;
            height: 44px;
            color: rgb(255, 78, 80); 
            font-size: 14px;
            font-weight: 700;
            font-family: 'montserrat';
            margin-bottom: 30px;
    }
   .others:hover{
       background-color: rgb(255, 78, 80);
       border-color: rgb(255, 255, 255);
       color: rgb(255, 255, 255);
   }

}






  