html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
a{
    display: block;
    text-decoration: none;
}
.container{
    width: 320px;
    margin: 0 auto;
}
.section {
    padding: 50px 0;
}
.log-list{
    list-style: none;
    text-align: center;
}
.banner {
    background-image: linear-gradient( rgba(0, 0, 2, 0.1), rgba(0, 0, 2, 0.1)), url(img/bg.png);
    height: 700px;
    max-width: 1440px;
    background-size: cover;
}
.pin{
    position: relative;
}
.pin::after{
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    position: absolute;
    right: 40px;
    bottom: 0;
}

.pin.pin1::after{
    background-image: url(img/IMG_7344.PNG); 
}
.pin.pin2::after{
    background-image: url(img/IMG_7345.PNG);
}
.pin.pin3::after{
    background-image: url(img/IMG_7346.PNG);
}
.pin.pin4::after{
    background-image: url(img/IMG_7347.PNG);
}
